body {
  margin: 20px;
  font-family: 'Courier New', monospace;
  font-size: 25px;
  color: #000000;
  font-style: normal;
  text-align: center;
  background-image: url("pxlbackAlpha.png");
  background-color: #00F633;
  font-size: 100%;

  }

#myImg {
  font-family: 'Courier New', monospace;
  max-width: 300px ;
  max-height: 300px ;
}

#leftbox {
  display: inline-block;
  font-family: 'Courier New', monospace;
  vertical-align:left;
  width:250px;
  max-width:300px;
  height:auto;
  border: 1px rgba(205, 3, 3, 0) solid;
  text-align: left;

}

#rightbox {

  display: inline-block;
  font-family: 'Courier New', monospace;
  vertical-align:top;
  max-width:300px;
  height:auto;
  border: 1px rgba(202, 236, 9, 0) solid;
  text-align: left;
}

#volumeStyle {
  display: inline-block;
  font-family: 'Courier New', monospace;
  text-align: center;

}

#loops2 {

  font-family: 'Courier New', monospace;
  text-align: left;
}



.range
{
    font-family: 'Courier New', monospace;
    cursor: pointer;
    width: 150px !important;
    -webkit-appearance: none;
    z-index: 200;
    width:1000px;
    height:20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255) ;


}

.range::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: #28011cdd;
    border-radius: 10px;
}
